doctype html
html(lang='en')
   head
      title Character Timeline

      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

      link(rel='stylesheet', href='http://' + locals.assets_url + '/index.css')

   body
      block content

